@media (min-width: 993px) {
  .hamburger-menu {
    display: none;
  }

  .menu_main {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
@media (min-width: 481px) and (max-width: 992px) {
  #menu-toggle {
    opacity: 0;
  }

  #menu-toggle:checked ~ .menu-btn > span {
    transform: rotate(45deg);
  }

  #menu-toggle:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu-toggle:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu-toggle:checked ~ .menu-box {
    visibility: visible;
    right: 0;
  }

  .menu-btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #8073c0;
    transition-duration: 0.25s;
  }

  .menu-btn > span::before {
    content: "";
    top: -8px;
  }

  .menu-btn > span::after {
    content: "";
    top: 8px;
  }

  .menu-box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 100%;
    width: 150px;
    height: 15%;
    margin: 0;
    padding: 20px 0;
    list-style: none;
    background-color: white;
    margin: 65px 5% 0 0;
  }

  .menu-item {
    display: block;
    padding: 12px 24px;
    color: #8073c0;
    font-size: 0.85rem;
    font-weight: 100;
    text-decoration: none;
    transition-duration: 0.25s;
  }

  .menu-item:hover {
    color: #059bff;
  }

  .menu {
    display: none;
  }

  header {
    padding: 0 5%;
    transition: all 0.2s;
  }

  main {
    padding: 0 5%;
    transition: all 0.2s;
  }

  main .menu_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  footer {
    padding: 0 5%;
    margin: 0;
    transition: all 0.2s;
    font-size: 12px;
  }

  footer .content-footer .copyright {
    font-size: 8px;
  }
}
@media (max-width: 480px) {
  #menu-toggle {
    opacity: 0;
  }

  #menu-toggle:checked ~ .menu-btn > span {
    transform: rotate(45deg);
  }

  #menu-toggle:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu-toggle:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu-toggle:checked ~ .menu-box {
    visibility: visible;
    right: 0;
  }

  .menu-btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #8073c0;
    transition-duration: 0.25s;
  }

  .menu-btn > span::before {
    content: "";
    top: -8px;
  }

  .menu-btn > span::after {
    content: "";
    top: 8px;
  }

  .menu-box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 100%;
    width: 150px;
    height: 15%;
    margin: 0;
    padding: 20px 0;
    list-style: none;
    background-color: white;
    margin: 65px 1% 0 0;
  }

  .menu-item {
    display: block;
    padding: 12px 24px;
    color: #8073c0;
    font-size: 0.85rem;
    font-weight: 10000;
    text-decoration: none;
    transition-duration: 0.25s;
  }

  .menu-item:hover {
    color: #059bff;
  }

  .menu {
    display: none;
  }

  header {
    padding: 0 1%;
    transition: all 0.2s;
  }

  main {
    padding: 0 1%;
    transition: all 0.2s;
  }

  main h1 {
    font-size: 24px;
  }

  main .content h2 {
    font-size: 20px;
    text-align: center;
  }

  main .menu_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .img-contaner {
    margin-left: auto;
    margin-right: auto;
  }

  h4 {
    text-align: center;
  }

  footer {
    padding: 0 1%;
    margin: 0;
    transition: all 0.2s;
    font-size: 10px;
  }

  footer .content-footer .copyright {
    font-size: 8px;
  }

  footer .contact .community {
    display: flex;
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=media-queries.css.map */
