html {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
html body {
  margin: 0;
}
html header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  border-bottom: 1px solid #dfe2e6;
  padding: 0 20%;
}
html .menu ul {
  list-style-type: none;
  display: flex;
}
html .menu ul li {
  flex-direction: row;
  margin: 0 1rem;
  color: #8073c0;
  font-size: 0.85rem;
  height: 3rem;
  display: flex;
  align-items: center;
}
html .menu ul a {
  text-decoration: none;
}
html .menu ul li:hover {
  color: #059bff;
  border-bottom: 1px solid #059bff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #059bff;
}
html .logo img {
  height: 1.5rem;
}

main {
  font-family: "Lato", sans-serif;
  background-color: whitesmoke;
  padding: 0 20%;
}
main h1 {
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding-top: 4rem;
}
main .menu_main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 2em;
  margin: 4rem 0;
}
main .menu_main select, main .menu_main form {
  font-size: 14px;
  height: 2rem;
  width: 300px;
  display: inline-block;
  color: grey;
  border-radius: 5px 5px;
  background-color: white;
  padding: 0 5px;
}
main .menu_main form {
  display: flex;
  justify-content: space-between;
}
main .menu_main form input {
  border: none;
  outline: none;
}
main .menu_main form button {
  background-color: white;
  border: none;
  color: grey;
}
main .menu_main select:focus, main .menu_main select:hover, main .menu_main form:focus, main .menu_main form:hover {
  border: 1px solid #059bff;
  outline: none;
  border-radius: 5px;
}
main h2 {
  font-weight: 500;
}
main .trendeng_episodes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 15px;
  row-gap: 10px;
}
main .trendeng_episodes a {
  text-decoration: none;
  color: black;
}
main .trendeng_episodes a:hover {
  color: #059bff;
}
main .trendeng_episodes .component {
  display: flex;
  flex-direction: column;
}
main .trendeng_episodes .component img {
  height: 200px;
  width: 200px;
  display: block;
  object-fit: cover;
}
main .trendeng_episodes .component img:hover {
  opacity: 0.5;
  background-image: url "/home/elena/work/catalog/images/play-circle-regular.svg";
}
main .trendeng_episodes .component h4 {
  font-weight: 400;
  font-size: 14px;
  margin-top: 0.6rem;
}
main .trendeng_episodes .component_10 {
  position: relative;
}
main .trendeng_episodes .component_10 .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: black;
}
main .trendeng_episodes .component_10:hover .overlay {
  opacity: 0.6;
}
main .trendeng_episodes .component_10:hover .overlay .icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
main .trendeng_episodes .component_10:hover .overlay .icon .fa fa-play-circle-o:hover {
  color: #eee;
}

/*# sourceMappingURL=styles.css.map */
