html
    font-family: "Open Sans", Arial, Helvetica, sans-serif

    body
        margin: 0

    header
        display: flex
        align-items: center
        justify-content: space-between
        height: 65px
        border-bottom: 1px solid rgb(223, 226, 230)
        padding: 0 20%
    .menu ul
        list-style-type: none
        display: flex
        li
            flex-direction: row
            margin: 0 1rem
            color: rgb(128, 115, 192)
            font-size: 0.85rem
            height: 3rem
            display: flex
            align-items: center

        a
            text-decoration: none
        li:hover
            color: #059bff
            border-bottom: 1px solid #059bff
            border-bottom-width: 1px
            border-bottom-style: solid
            border-bottom-color: rgb(5, 155, 255)

    .logo img
        height: 1.5rem

main
    font-family: 'Lato', sans-serif
    background-color: rgb(245,245,245)
    padding: 0 20%

    h1
        font-size: 48px
        font-weight: 500
        text-align: center
        margin: 0
        padding-top: 4rem

    .menu_main
        display: flex
        flex-wrap: nowrap
        justify-content: space-between
        height: 2em
        margin: 4rem 0

        select, form
            font-size: 14px
            height: 2rem
            width: 300px
            display: inline-block
            color: grey
            border-radius: 5px 5px

            background-color: white
            padding: 0 5px

        form
            display: flex
            justify-content: space-between

            input
                border: none
                outline: none

            button
                background-color: white
                border: none
                color: grey

        select:focus, select:hover, form:focus, form:hover
            border: 1px solid #059bff
            // box-shadow: 0px 0px 5px 1px rgba(5, 155, 255, 0.29)
            outline: none
            border-radius: 5px

    h2
        font-weight: 500

    .trendeng_episodes

        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr
        grid-template-rows: 1fr 1fr
        column-gap: 15px
        row-gap: 10px

        a
            text-decoration: none
            color: black

        a:hover
            color: #059bff

        .component
            display: flex
            flex-direction: column

            img
                height: 200px
                width: 200px
                display: block
                position: relative
                // картинки квардратные и не сжимаются
                object-fit: cover

                &:hover
                    opacity: 0.5
                    background-image: url ('/home/elena/work/catalog/images/play-circle-regular.svg')
                        // transition: opacity 1s ease-in-out

            h4
                font-weight: 400
                font-size: 14px
                margin-top: 0.6rem
